<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.toyota.scs.serviceparts.util.TestNGListener"></listener>
	</listeners>
	<test name="ServiceParttests">
		<classes>
			
		<!-- 	<class name="com.toyota.scs.serviceparts.tests.ServicePartsVendorTests" /> -->
			<class name="com.toyota.scs.serviceparts.tests.ServicePartsCaseBuild" />
			

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
